<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="com.qa.codedog.testCases.TC01_Hacienda_ping"/>
      <class name="com.qa.codedog.testCases.TC02_Hacienda_compliance"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
